@media screen and (max-width: 820px){


    /*Cabecalho*/

    header{
        flex-direction: column;
    }

    h1{
        margin: 0px;
        text-align: center;
    }

    header li{
        margin: 2px;
        font-size: 15px;
        justify-content: center;
    }

    header ul img{
        height: 14px;
    }

    .apresentação h1{
        font-size: 70px;
    }

    P{
        margin: 15px;
    }

    .imagem-fundo{
        height: 500px;
        margin-left: 50px;
        margin-right: 50px;
    }

    /*Corpo parte 1*/

    .apresentação{
        flex-direction: column;
        align-items: center;
        height: 1000px;
        padding: 0px;
        margin: 0px;
    }

    /*Corpo parte 2*/

    .sobreMim{
        margin: 5px;
        height: 700px;
    }

    article{
        width: 350px;
        text-align: justify;
    }

    /*Corpo parte 3*/

    .cx-main-projetcs{
        flex-direction: column;
        align-items: center;
        padding: 1%;
    }

    .cx-projects{
        margin: 10px;
    }

}