@media screen and (max-width: 820px){

    *{
        margin: 0px;
        padding: 0px;
    }

    /*Cabecalho*/

    header{
        flex-direction: column;
    }

    h1{
        margin: 0px;
        text-align: center;
    }

    header a{
        margin: 3px;
        font-size: 13px;
        justify-content: center;
    }

    a img{
        height: 14px;
    }

    .img-icone-menu{
        height: 20px;
    }

    .img-icone-menu:hover{
        height: 23px;
        transition: 0.5s;
    }

    .menu{
        background-color: rgba(255, 255, 255, 0.74);
        left: 60%;
        top: -23%;
    }

    .menu a{
        font-size: 17px;
    }

    /*Corpo parte 1*/

    .apresentação h1{
        font-size: 70px;
    }

    P{
        margin: 15px;
    }
  
    .imagem-fundo{
        height: 350px;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .apresentação{
        flex-direction: column;
        align-items: center;
        height: 1000px;
        padding: 0px;
        margin: 0px;
    }

    /*Corpo parte 2*/

    .sobreMim{
        margin: 5px;
    }

    h2{
        margin-bottom: 15px;
    }

    article{
        width: 350px;
        text-align: justify;
    }

    /*Corpo parte 3*/

    .cx-main-projetcs{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .cx-projects{
        margin: 10px;
    }

}