@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    background-image: url('Imagens/img-fundo/Laecio-Anime.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

main section{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.521);
    display: flex;
    align-items: center;
    justify-content: center;
}

section div{
    height: 400px;
    width: 400px;
    border-left: 3px solid black;
    padding: 20px;
}

p{
    color: white;
}